<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 text-center col-centered">
      <h1>Today's To-do</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-md-8 col-centered">
      <%= link_to 'New Task', new_task_path %>
    </div>
  </div>
  <%= render 'todo', :tasks => @tasks %>
  
  <div class="row">
    <div class="col-xs-12 col-md-8 text-center col-centered">
      <h3>Completed</h3>
    </div>
  </div>
  <%= render 'todo', :tasks => @completed_tasks %>
  
</div><!-- /.container -->

