<div class="container">
	<div class="jumbotron text-center">
		  <h1>Zen the shit out of your to-do list.</h1>
		  <p>Prioriter is a free, no-frills to-do list. Add what you need to do and get shit done.</p>
		  <p><%= link_to "Register", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %></p>
	</div>
</div>