<div class="container">
	<div class="jumbotron">
	  <h1>Zen the shit out of your to-do list.</h1>
	  <p>Prioriter is a free, no-frills to-do list manager.</p>
	  <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %></p>
	</div>
</div>