.completed_task {
	font-size: 					1em;
	color:							gray;
	padding-bottom: 		0.4em;
	text-decoration:		line-through;
}

.destroy-btn {
	opacity: 						0;
}

.input_field {
	-webkit-appearance: none;
	outline: 						none;
	border: 						none;
	border-bottom: 			1px dotted #b3b3b3;
	width:							90%;
}

.pre_input_field:hover {
	-webkit-appearance: none;
	outline: 						none;
	border: 						none;
	border-bottom: 			1px dotted #b3b3b3;	
}

.todo_task {
	font-size: 					1.3em;
	padding-bottom: 		0.4em;
	cursor: 						pointer;
}

.todo_task:hover .destroy-btn {
	opacity:						1;
}

.todo_task_col {
	border-bottom-width:1px;
	border-bottom-style:dashed;
	border-bottom-color:gray;
	margin-bottom: 10px;
}